<h1 *ngIf="isNotSearchable()" class="title-header">Looking for a Track or Artist?</h1>
<h1 *ngIf="isArtistSearch()" class="title-header">Looking for an {{searchType.charAt(0).toUpperCase() + searchType.slice(1)}}?</h1>
<h1 *ngIf="!isNotSearchable() && !isArtistSearch()" class="title-header">Looking for a {{searchType.charAt(0).toUpperCase() + searchType.slice(1)}}?</h1>
<p class="lead">You can use this web app to find your favorite {{isNotSearchable() ? "tracks or artist" : searchType}}s, ala Spotify!</p>
<form>
    <div class="form-group">
        <form [formGroup]="search">
            <div *ngIf="searchType">
                <input type="text" formControlName="searchQuery" class="form-control" placeholder="{{searchType}}s...">
            </div>
        </form>
        <label id="search-type">Select search type</label>
        <mat-radio-group 
            aria-labelledby="radio-group-label" 
            class="radio-group"
            [(ngModel)]="searchType"
            name="searchType">
            <mat-radio-button class="radio-button" value="artist" (click)="search.get('searchQuery').reset(''); results = null;" (ngModelChange)="onSearchChange($event)">artist</mat-radio-button>
            <mat-radio-button class="radio-button" value="track" (click)="search.get('searchQuery').reset(''); results = null;" (ngModelChange)="search.get('searchQuery').reset(''); onSearchChange($event)">track</mat-radio-button>
        </mat-radio-group>
    </div>
</form>

<div *ngIf="results">
    <div *ngFor="let result of results">
        <div class="row">
            <div class="col-md-12">
                <div class="search-results well">
                    <h4 *ngIf="isArtistSearch()">
                        <a routerLink="/artist/{{result.id}}">{{result.name}}</a>
                    </h4>
                    <h4 *ngIf="!isArtistSearch()">
                        <a routerLink="/track/{{result.id}}">{{result.name}}</a>
                    </h4>
                    <div *ngIf="searchType === 'artist'">
                        <strong>Genres: </strong>
                        <span *ngFor="let genres of result.genres">{{genres}} </span>
                    </div>
                    <div *ngIf="searchType === 'track'">
                        <strong>Arist: </strong>
                        <span *ngFor="let artist of result.artists">{{artist.name}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>